
 * {
  font-family: 'Montserrat';

 }
/*Header start*/
.header_box {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_box .logo_box img {
    width: 177px;
    height: 42px;
    object-fit: contain;
  }
  
  .nav_box .navbar-nav {
    gap: 21px;
  }
  
  .nav_box .navbar-nav .nav-item .nav-link {
    color: rgb(36, 20, 0);
    font-size: 12px;
    font-weight: 400;
    line-height: 196.19%;
    letter-spacing: 0%;
    font-family: "Montserrat";
  }
  .nav_box .navbar-nav .nav-item .nav-link.active,
  .nav_box .navbar-nav .nav-item .nav-link:hover {
    color: rgb(225, 106, 0);
    text-decoration: underline;
  }
  
  .join_box {
    border: none;
    background: transparent;
    color: rgb(36, 20, 0);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

  }
  
  /*Header end*/
  
  /*Footer starts*/
  
  .social_box {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    margin: 100px 0 75px;
  }
  .social_box .social_title {
    color: rgb(36, 20, 0);
    font-size: 25px;
    font-weight: 900;
    line-height: 196.19%;
    letter-spacing: 0%;
  }
  
  .social_box .social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
  }
  
  .footer_bottom {
    background-color: #391f00;
    padding: 60px 0 30px;
  }
  
  .footer_logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 40px 0 40px;
  }
  .footer_logo img {
    width: 177px;
    height: 42px;
    object-fit: contain;
  }
  
  .footer_links {
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .footer_links h4 {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 35.314px */
    color: #fff;
    font-family: "Montserrat";

  }
  .footer_links a {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat";


  }
  
  .send_call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .send_call p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 900;
    line-height: 196.19%;
    letter-spacing: 0%;
  }
  
  .send_call a {
    color: rgb(225, 106, 0);
    font-size: 14px;
    font-weight: 500;
    line-height: 140.19%;
    letter-spacing: 0%;
    border: 1px solid rgb(225, 106, 0);
    padding: 4px 7px;
    width: fit-content;
    text-decoration: none;

  }
  
  .footer_end {
    margin-top: 60px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 23.542px */
    font-family: "Montserrat";

  }
  
  /* footer end
  
  /*  Join Us  */
  
  .modal_box {
    display: none;
    max-width: 675px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 70px 55px 30px;
    z-index: 2;
  }
  .modal_box.show {
    display: block;
  }
  
  .modal_backdrop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .modal_title {
    color: rgb(0, 0, 0);
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 35px;
    font-family: "Montserrat";

  }
  
  .modal_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    font-family: "Montserrat";

  }
  .modal_inputs input {
    height: 76px;
    padding: 18px 55px;
    border: 1px solid rgb(206, 206, 206);
    color: rgb(121, 118, 103);
    font-family: "Grimson";
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .modal_inputs button {
    color: rgb(255, 255, 255);
    font-family: "Grimson";
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    padding: 22px;
    margin-top: 50px;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    background: rgb(225, 106, 0);
  }
  
  .is-invalid {
    border: 1px solid red !important;
  }




